body {
  margin: 0;
  padding: 0;
  font-family: "Poppins" !important;
}
nav {
  z-index: 150;
}
@media (max-width: 767px) {
  nav select {
    display: none;
  }
  nav input[type="search"] {
    width: 100px;
    padding-block: 0 !important;
  }
  nav span {
    font-size: 10px;
  }
}
.login-form {
  width: 40%;
}
@media (max-width: 767px) {
  .login-form {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .slider-img , .banner-text{
    height: 50vh !important;
  }
  .slider-img img {
    height: 100% !important;
  }
  .banner-text{
    text-align: center;
    padding: 0 !important;
  }
  .banner-text h1{
    padding-top: 10px;
    font-size: 25px !important;
  }
  .banner-text p{
    font-size: 14px !important;
  }
}
@media (min-width: 768px) {
  .grid-container .cols {
    flex: 1;
  }
}
.grid-container .cols .img-box {
  position: relative;
  height: 70vh;
}
.grid-container .cols .img-box img {
  object-fit: cover;
}
.grid-container .cols .img-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #3734347c;
}
.grid-container .cols .text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid-container .cols .text button {
  margin-block: 10px;
  color: rgb(69, 65, 65);
}
@media (max-width: 767px) {
  .grid-container .cols .text h3 {
    font-size: 13px !important;
  }
  .grid-container .cols .text button {
    font-size: 10px !important;
    padding-block: 5px !important;
    padding-inline: 5px !important;
  }
}
.card-wrapper {
  border: 1px solid grey;
  
}
.card-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #37343479;
  transition-duration: 0.4s;
  opacity: 0;
}
@media(max-width: 767px){
  .card-wrapper::after{
    height: 20%;
    top: 80%;
    opacity: 8;
  }
}
.icon-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition-duration: 0.4s;
  z-index: 1;
}
@media(max-width: 767px){
  .icon-wrapper {
    top: 90%;
    opacity: 8;
  }
}
.icon-wrapper .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #1f2428f8;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.icon-wrapper .icon:hover {
  background-color: antiquewhite;
}
.card-wrapper:hover::after,
.card-wrapper:hover .icon-wrapper {
  opacity: 1;
}
.form-control {
  display: inline !important;
}
.fade-animation {
  animation: fade 1s ease-in-out infinite;
}

@keyframes fade {
  0% {
    scale: 0.8;
  }
  50% {
    scale: 1.5;
  }
  100% {
    scale: 0.8;
  }
}
@media(max-width:767px){
  .cart-btn{
    font-size: 10px !important;
    padding-inline: 0 !important;
  }
  .cart-link{
    font-size: 10px !important;
  }
}
/* ملف CSS الخاص بك (أو داخل style tag) */
.StripeElement {
  padding: 15px 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.StripeElement--focus {
  border-color: #4caf50;
}

.StripeElement--invalid {
  border-color: red;
}
.StripeElement--icon {
  filter: invert(30%) sepia(100%) saturate(500%) hue-rotate(180deg);
}
